entryPoints:
    http:
        address: :80
        http:
            middlewares:
                - test-ipallowlist@file
            redirections:
                entryPoint:
                    to: https
                    scheme: https
    https:
        address: :443
        http:
            middlewares:
                - test-ipallowlist@file
            tls: {}
providers:
    providersThrottleDuration: 2s
    docker:
        watch: true
        network: github-runner_traefik-network
        exposedByDefault: false
    file:
        filename: /etc/traefik/traefik.yml
certificatesResolvers:
    letsencrypt:
        acme:
            email: no-reply@example.com
            storage: acme.json
            httpChallenge:
                entryPoint: http
http:
    middlewares:
        test-ipallowlist:
            ipAllowList:
                sourceRange:
                    - <add ip ranges here>
log:
    level: DEBUG
accessLog: {}

api:
    dashboard: true
    insecure: true
